/* Cherokee Web Site: CSS */

/* Reset */
html,body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,button,textarea,p,blockquote,th,td {margin:0; padding:0;}
table{ border-collapse: collapse; border-spacing:0; }
fieldset,img{border:0;}
th{text-align:left;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
strong {font-weight: bold;}
em {font-style: italic;}
code {font-family: courier;}
img {display: block; border: none;}
ul {list-style: none;}

/* Fonts */
@font-face {
  font-family: "CA BND Web Bold";
  src: url(/static/fonts/CABNDWebBold.otf) format("opentype");
}

/* General */
html, body { 
  height: 100%; 
}
body { 
  background: #fff url(../images/bg.png);
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px; 
  text-align: center; 
  color: #222; 
}

a { 
  color: #27c; 
  -webkit-transition: color .2s linear;
}
a:hover { 
  color: #29f; 
  text-decoration: underline; 
}
h1, h2, h3 { 
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-weight: normal;
  margin: 0 0 8px 0; 
  padding:0; 
  text-shadow: #fff 0px 1px 0px;
}
h1 { 
  color: #c00; 
  font: 35px/35px Verdana, Arial, Helvetica, sans-serif; 
  margin-bottom: 20px;
}
h1 a { 
  color: #c00; 
  text-decoration: none; 
}
h1 a:hover { 
  color: #c00; 
  text-decoration: underline; 
}
h2 { 
  color: #174783; 
  font-size: 150%; 
  font: 24px/24px Verdana, Arial, Helvetica, sans-serif; padding-bottom: 8px; 
  margin: 15px 0; 
  border-bottom: 1px solid #eee; 
  box-shadow: 0 1px 0 #fff;
}
.body-index h2 { 
  margin-top: 0; 
}
h3 { 
  color: #666; 
  font-size: 120%; 
  font-weight: normal; 
}
p { 
  margin-bottom: 1em; 
  line-height: 1.5em; 
}
.clr:after { 
  visibility: hidden; 
  display: block; 
  font-size: 0; 
  content: " "; 
  clear: both; 
  height: 0; 
}
.clr { 
  display: inline-block; 
}
* html .clr { 
  height: 1%; 
}
* .clr { 
  display: block; 
}
ul.list { 
  list-style-type: disc; 
  padding-left: 2em; 
  margin-bottom: 1em; 
}
ul.list li { 
  line-height: 1.5em; 
}

/* Layout */
#container { 
  width: 980px; 
  margin: 0 auto; 
  text-align: left; 
  min-height: 100%;  
}
#footer { 
  width: 980px; 
  margin: 0 auto; 
  margin-top: 60px;
  text-align: left; 
  border-top: 1px solid #eee;
}
#footer-inner { 
  border-top: 1px solid #fff;
  font-size: 90%; 
  padding: 60px 30px 60px 90px; 
  color: #3465a4; 
  background: transparent url(../images/o.png) 15px 45px no-repeat;
}
#bar  { 
  height: 52px; 
  background: #fff url(../images/bar.png);
}
#bar-inner {
  width: 980px; 
  margin: 0 auto; 
}
#sprint  { 
  background: #eff5fd url(../images/sprint.png) top center no-repeat; 
  height: 211px; 
  text-align: left;
}
#mainmsg { 
  margin: 0 auto; 
  height: 211px; 
  width: 980px; 
}
#mainmsg h1 { 
  color: #fff; 
  font-size: 28px; 
  font-weight: bold; 
  text-shadow: #072e5e 0px 1px 0px;
  text-transform: uppercase;
  margin-left: 460px;
  margin-top: 0; 
  padding-top: 30px; 
  padding-bottom: 0px; 
  font-family: "CA BND Web Bold", Verdana, Arial, Helvetica, sans-serif; 
}
#mainmsg p { 
  color: #072e5e; 
  font-size: 20px; 
  margin-left: 460px; 
}
#nav { 
  padding: 4px 0px 4px 0px; 
  float: right; 
  height: 22px; 
  margin-top: 12px; 
}
#nav ul { 
  margin:0 0 0 12px; 
  padding:0;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 15px;
  padding-left: 8px;
}
#nav ul li {
  float: left; margin: 0;
  padding: 0;
  text-align: center;
}
#nav ul li a { 
  display: block;
  line-height: 1.4em;
  padding: 0px 24px 0px 0;
  margin: 0;
  text-decoration: none;
  color: #b4d9ec;
  border: none;
  -webkit-transition: color .2s linear;
}
#nav ul li a:hover { 
  color: #fff; 
  text-decoration: none;
}
#logo { 
  width: 220px; 
  padding: 0; 
  position: absolute; 
  top: 0;
}
#overview { 
  background: #383; 
  font-weight: bold;
  float: right;
  font-size: 16px;
  color: #f0fff0;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  padding: 8px 12px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#overview:hover { 
  color: #fff; 
}

#sidebar {
  padding: 0;
  margin-top: 30px;
  float: right;
  width: 310px;
}

#main_area {
  padding: 30px 30px 30px 0;
  float: left;
  width: 620px;
}

/* Index */
#index-main {
  padding: 30px 30px 30px 0;
  float: left;
  width: 620px;
}

#index-sidebox {
  padding: 0;
  margin-top: 40px;
  float: right;
  width: 310px;
}

#features { 
  padding-bottom: 30px; 
}

#features strong { 
  font-size: 120%; 
}
#features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#features li { 
  float: left;
  margin: 0 0 15px 0; 
  padding-left: 24px; 
  background: transparent url(../images/ok.png) 0 2px no-repeat; 
}

#main-links li {
  height: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #666;
}

#main-links li a {
  font-size: 14px; 
  line-height: 26px;
}

#main-links li img {
  float: left; 
  margin-right: 10px;
}



.bar3 {
  width: 33%;
  float: left;
  font-size: 13px;
  margin-top: 30px;
}

.bar3-title {
  color: #174783;
  font-size: 16px;
  margin-bottom: 15px;
}

.bar3-title a { 
  text-decoration: none;
}
.bar3-title a:hover { 
  text-decoration: underline;
}

.bar3-bottom-link {
  float: right;
  margin-top: 10px;
}

.bar3-bottom-link a {
  text-decoration: none;
}
.bar3-bottom-link a:hover { 
  text-decoration: underline;
}


#latest-tweets,
#latest-commits,
#mailing-list {
  padding-right: 20px;
}

.tweet, .commit, .mail {
  margin-bottom: 15px;
}

.date { 
  float: left;
  text-align: right;
  width: 50px;
  color: #666;
}

.date a {
  text-decoration: none;
  color: #666;
}

.date a:hover {
  color: #27c;
}

.tweet-txt, .commit-txt, .mail-txt {
  margin-left: 60px;
}
